<!-- templates/admin/base.html -->
<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leave Some Love Admin{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head_css %}{% endblock %}
    {% block head %}{% endblock %}
</head>
<body>
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content flex flex-col">
            <!-- Page content here -->
            <div class="navbar bg-base-100">
                <div class="flex-none lg:hidden">
                    <label for="my-drawer-2" class="btn btn-square btn-ghost">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
                    </label>
                </div>
                <div class="flex-1">
                    <a class="btn btn-ghost normal-case text-xl">Leave Some Love Admin</a>
                </div>
            </div>
            <div class="p-4">
                {% block body %}{% endblock %}
            </div>
        </div> 
        <div class="drawer-side">
            <label for="my-drawer-2" class="drawer-overlay"></label> 
            <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
                <!-- Sidebar content here -->
                <li><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
                <li><a href="{{ url_for('user.index_view') }}">Users</a></li>
                <li><a href="{{ url_for('testimonial.index_view') }}">Testimonials</a></li>
                <li><a href="{{ url_for('businessprofile.index_view') }}">Business Profiles</a></li>
                <li><a href="{{ url_for('testimonialrequest.index_view') }}">Testimonial Requests</a></li>
            </ul>
        </div>
    </div>
    {% block tail_js %}{% endblock %}
</body>
</html>