{% extends "base_public.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="max-w-md mx-auto">
    <h1 class="text-3xl font-bold mb-6 text-center">Register</h1>
    <form method="POST" class="bg-base-200 shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-sm font-bold mb-2" for="username">
                Username
            </label>
            <input class="input input-bordered w-full" id="username" name="username" type="text" placeholder="Username" required>
        </div>
        <div class="mb-6">
            <label class="block text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="input input-bordered w-full" id="password" name="password" type="password" placeholder="******************" required>
        </div>
        <div class="flex items-center justify-between">
            <button class="btn btn-primary" type="submit">
                Register
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="{{ url_for('login') }}">
                Login
            </a>
        </div>
    </form>
</div>
{% endblock %}