<!-- templates/admin/model/custom_list.html -->
{% extends 'admin/base.html' %}

{% block body %}
  <h2 class="text-2xl font-bold mb-4">{{ admin_view.name }} List</h2>

  <div class="overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          {% for c, name in list_columns %}
            <th>{{ name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for row in data %}
        <tr>
          {% for c, name in list_columns %}
            <td>{{ get_value(row, c) }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    {% if admin_view.can_create %}
      <a href="{{ url_for('.create_view') }}" class="btn btn-primary">Create New {{ admin_view.name }}</a>
    {% endif %}
  </div>
{% endblock %}